@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  min-height: 100%;
  font-family: "Public Sans", sans-serif;
  overflow: hidden;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-x {
  padding: 0px 5%;
}
.p-y {
  padding-top: 52px;
  padding-bottom: 52px;
}
/* header section styles */
header {
  position: relative;
  min-height: 8vh;
  max-height: 10vh;
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.overlay {
  width: 0;
  height: 0;
  opacity: 0;
  display: none;
  transition: opacity 500ms ease-in-out;
}
header .logo {
  cursor: pointer;
}
/* header nav {
  min-width: 40%;
  max-width: 50%;
} */
header nav ul li {
  list-style: none;
}
header nav ul li a {
  position: relative;
  text-decoration: none;
  padding: 10px 0px;
  color: hsl(233, 26%, 24%);
}
header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0%;
  width: 0%;
  height: 5px;
  border-radius: 3px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  transition: width 150ms ease-in-out;
}
header nav ul li a:hover {
  color: hsl(233, 26%, 24%);
}
header nav ul li a:hover::after {
  width: 100%;
}
.cta-btn {
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 50px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.cta-btn:hover {
  opacity: 0.8;
}
header nav {
  padding: 50px 0px;
  position: absolute;
  z-index: 100;
  top: 100px;
  width: min(90%, 500px);
  left: -100%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 10px;
  transition: left 300ms ease-in;
}
header nav ul {
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
header .hambergur-menu {
  z-index: 200;
  position: relative;
}
.close {
  display: none;
}
.active nav {
  left: 50%;
}
.active .close {
  display: block;
}
.active .open {
  display: none;
}
.active .overlay {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  height: 900vh;
  display: block;
  background-color: hsl(233, 8%, 62%);
  opacity: 0.5;
  z-index: 1;
}
/* hero section style  */
.hero {
  min-height: 70vh;
  background: hsl(0, 0%, 98%);
}
.hero__img {
  position: relative;
  width: 100%;
  height: 50vh;
  background: url(images/bg-intro-mobile.svg);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(images/image-mockups.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.hero__content {
  padding: 20px 5% 50px 5%;
  width: 100%;
  text-align: center;
}
.hero__content h1 {
  font-size: 36px;
  color: hsl(233, 26%, 24%);
  font-weight: 400;
}
.hero__content p {
  font-size: 14px;
  color: hsl(233, 8%, 62%);
  margin: 20px 0px;
}
/* features section style  */
.features {
  width: 100%;
  background: hsl(220, 16%, 96%);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
h2 {
  font-size: 30px;
  font-weight: 400;
  color: hsl(233, 26%, 24%);
}
p {
  font-size: 14px;
  color: hsl(233, 8%, 62%);
  margin: 20px 0px 0px 0px;
}
.features .fet-cont {
  margin-top: 25px;
}
h3 {
  font-size: 20px;
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}
.features .fet-cont .banking,
.features .fet-cont .budget,
.features .fet-cont .onboarding,
.features .fet-cont .open-api {
  flex: 1 1 50%;
}

.features .fet-cont img {
  display: inline-block;
  margin: 30px 0px;
}
/* article sectioin styles  */
.articles {
  background: hsl(0, 0%, 98%);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.articles-cont {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.articles-cont .box {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.12), -3px -3px 5px rgba(0, 0, 0, 0.12);
}
.articles-cont .box .box-cont h3:hover {
  color: hsl(136, 65%, 51%);
}
.articles-cont .box img {
  max-width: 100%;
}
.articles-cont .box-cont {
  padding: 0px 25px 35px 25px;
  text-align: left;
}
.articles-cont .box-cont h3 {
  margin-top: 20px;
  transition: color 150ms ease-in-out;
}
/* footer section styles  */
footer {
  width: 100%;
  background: hsl(233, 26%, 24%);
  color: #fff;
  text-align: center;
}
footer .top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 65px;
}
footer .foot-logo {
  background-color: #fff;
  cursor: pointer;
}
footer .top-section .social-media-icons a:not(last-child) {
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
}
footer .middle-section {
  margin: 20px 0px;
}
footer .middle-section li {
  list-style: none;
  margin: 15px 0px;
}
footer .middle-section a {
  text-decoration: none;
  color: #fff;
  padding: 5px 0px;
}
footer .middle-section a:hover {
  color: hsl(136, 65%, 51%);
}

/* media querries for mobile screen  */
@media screen and (max-width: 599px) {
  header .cta-btn {
    display: none;
  }
}
/* media querries for tablet screen  */
@media screen and (min-width: 600px) and (max-width: 768px) {
  header .cta-btn {
    display: none;
  }
  .hero__img {
    background-size: 100%;
  }
  .hero__img::before {
    background-size: 50%;
    background-position: center bottom;
  }
  .features .fet-cont {
    display: flex;
    flex-wrap: wrap;
  }
  .articles-cont {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
  .features .fet-cont .budget,
  .features .fet-cont .open-api {
    padding-left: 25px;
  }
}
/* media querries for screen larger than 769px*/
@media screen and (min-width: 769px) {
  header .hambergur-menu {
    display: none;
  }
  header nav {
    padding: 0px;
    position: unset;
    min-width: 40%;
    max-width: 50%;
    transform: translateX(0);
  }
  header nav ul {
    flex-direction: row;
  }
  header nav ul li a {
    color: hsl(233, 8%, 62%);
  }
}
/* media querries for laptop screen  */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hero {
    display: flex;
    align-items: center;
  }
  .hero__img {
    order: 2;
    flex: 3;
    height: 75vh;
    background: url(images/bg-intro-desktop.svg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 11% 84%;
  }
  .hero__img::before {
    width: 100%;
    height: 115%;
    right: -17%;
    background: url(images/image-mockups.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right 87%;
  }
  .hero__content {
    order: 1;
    flex: 2;
    text-align: left;
    padding-right: 0px;
  }
  .hero__content h1 {
    font-size: 40px;
  }
  .hero__content p {
    font-size: 14px;
  }
  .features .fet-cont .banking,
  .features .fet-cont .budget,
  .features .fet-cont .onboarding,
  .features .fet-cont .open-api {
    padding-right: 25px;
  }
  .features {
    text-align: left;
  }
  .features .fet-cont {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
  .articles-cont {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
  footer {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .top-section {
    align-items: flex-start;
  }
  footer .top-section,
  footer .middle-section,
  footer .last-section {
    height: 100%;
    margin: 0px;
    flex: 1;
  }
  footer .middle-section nav {
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .last-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
}
/* media querries for  desktop screen  */
@media screen and (min-width: 1024px) {
  .hero {
    display: flex;
    align-items: center;
  }
  .hero__img {
    order: 2;
    flex: 3;
    height: 75vh;
    background: url(images/bg-intro-desktop.svg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 11% 50%;
  }
  .hero__img::before {
    width: 100%;
    height: 115%;
    right: -17%;
    background: url(images/image-mockups.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 80% 87%;
  }
  .hero__content {
    order: 1;
    flex: 2;
    text-align: left;
  }
  .hero__content h1 {
    font-size: 52px;
  }
  .hero__content p {
    font-size: 14px;
  }
  .features .fet-cont .banking,
  .features .fet-cont .budget,
  .features .fet-cont .onboarding,
  .features .fet-cont .open-api {
    flex: 1 1 25%;
    padding-right: 25px;
  }
  .features {
    text-align: left;
  }
  .features .fet-cont {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
  .articles {
    text-align: left;
  }
  .articles-cont {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  footer {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .top-section {
    align-items: flex-start;
  }
  footer .top-section,
  footer .middle-section,
  footer .last-section {
    height: 100%;
    margin: 0px;
    flex: 1;
  }
  footer .middle-section nav {
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .last-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex: 2;
  }
}
